flujo node-red/flujo completo con dashboard.txt
[
    {
        "id": "968c565030a8bbdf",
        "type": "mqtt in",
        "z": "b05da65af15284d8",
        "name": "Recibir MQTT",
        "topic": "servo/status",
        "qos": "2",
        "datatype": "json",
        "broker": "b43cb77a.8ffbd8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "7bc9741be93b7c73",
                "41a6525616924c2e"
            ]
        ]
    },
    {
        "id": "7bc9741be93b7c73",
        "type": "debug",
        "z": "b05da65af15284d8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "8b23bb910ea3af5f",
        "type": "postgresql",
        "z": "b05da65af15284d8",
        "name": "",
        "query": "INSERT INTO servo_data (timestamp, angle, distance) VALUES (NOW(), $1, $2);\n",
        "postgreSQLConfig": "49c448cf338bd2d2",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "aaa34973f64e5579"
            ]
        ]
    },
    {
        "id": "41a6525616924c2e",
        "type": "function",
        "z": "b05da65af15284d8",
        "name": "function 3",
        "func": "// Lee el payload del mensaje MQTT\nvar payload = msg.payload;\n\n// Construye la consulta SQL con los valores del mensaje\nvar query = \"INSERT INTO servo_data (timestamp, angle, distance) VALUES (NOW(), \" + payload.angle + \", \" + payload.distance + \");\";\n\n// Guarda la consulta SQL en el objeto de mensaje para ser enviado al siguiente nodo\nmsg.query = query;\n\n// Retorna el mensaje modificado\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "8b23bb910ea3af5f"
            ]
        ]
    },
    {
        "id": "aaa34973f64e5579",
        "type": "debug",
        "z": "b05da65af15284d8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "1c5711fe6a9d2398",
        "type": "mqtt out",
        "z": "b05da65af15284d8",
        "name": "Control Servo",
        "topic": "servo/control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac13dcd4.72f2b8",
        "x": 660,
        "y": 520,
        "wires": []
    },
    {
        "id": "76a6ed3f65267c8a",
        "type": "ui_button",
        "z": "b05da65af15284d8",
        "name": "Encender Servo",
        "group": "194a4281.7f5bfa",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Encender",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "servo/control",
        "topicType": "str",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "1c5711fe6a9d2398"
            ]
        ]
    },
    {
        "id": "8a016c4a35f59947",
        "type": "ui_button",
        "z": "b05da65af15284d8",
        "name": "Apagar Servo",
        "group": "194a4281.7f5bfa",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Apagar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "servo/control",
        "topicType": "str",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "1c5711fe6a9d2398"
            ]
        ]
    },
    {
        "id": "3c6fd6dcdc97c402",
        "type": "ui_button",
        "z": "b05da65af15284d8",
        "name": "",
        "group": "ef817f20898a98ee",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Encender Pir",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "motor/control",
        "topicType": "msg",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "4ba56c8d7a0cf47c"
            ]
        ]
    },
    {
        "id": "cf026e64df5ee992",
        "type": "ui_button",
        "z": "b05da65af15284d8",
        "name": "",
        "group": "ef817f20898a98ee",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Apagar Pir",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "motor/control",
        "topicType": "msg",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "4ba56c8d7a0cf47c"
            ]
        ]
    },
    {
        "id": "4ba56c8d7a0cf47c",
        "type": "mqtt out",
        "z": "b05da65af15284d8",
        "name": "",
        "topic": "motor/control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b896b3f4.d8b9d",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "a2911dbb722d1821",
        "type": "ui_button",
        "z": "b05da65af15284d8",
        "name": "",
        "group": "ef817f20898a98ee",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encender RFid",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "rfid/control",
        "topicType": "msg",
        "x": 260,
        "y": 780,
        "wires": [
            [
                "06a1c300b269f52f"
            ]
        ]
    },
    {
        "id": "cc8110f4442241e0",
        "type": "ui_button",
        "z": "b05da65af15284d8",
        "name": "",
        "group": "ef817f20898a98ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagar RFID",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "rfid/control",
        "topicType": "msg",
        "x": 250,
        "y": 860,
        "wires": [
            [
                "06a1c300b269f52f"
            ]
        ]
    },
    {
        "id": "06a1c300b269f52f",
        "type": "mqtt out",
        "z": "b05da65af15284d8",
        "name": "",
        "topic": "rfid/control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b896b3f4.d8b9d",
        "x": 630,
        "y": 840,
        "wires": []
    },
    {
        "id": "2377a730d16d6859",
        "type": "ui_button",
        "z": "b05da65af15284d8",
        "name": "",
        "group": "194a4281.7f5bfa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encender Alarma",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "alarma/control",
        "topicType": "msg",
        "x": 290,
        "y": 940,
        "wires": [
            [
                "455b6dfafe3b9bf8"
            ]
        ]
    },
    {
        "id": "0b91b4646a461006",
        "type": "ui_button",
        "z": "b05da65af15284d8",
        "name": "",
        "group": "194a4281.7f5bfa",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagar Alarma",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "alarma/control",
        "topicType": "msg",
        "x": 280,
        "y": 1000,
        "wires": [
            [
                "455b6dfafe3b9bf8"
            ]
        ]
    },
    {
        "id": "455b6dfafe3b9bf8",
        "type": "mqtt out",
        "z": "b05da65af15284d8",
        "name": "",
        "topic": "alarma/control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b896b3f4.d8b9d",
        "x": 640,
        "y": 1000,
        "wires": []
    },
    {
        "id": "62e40702f21c584c",
        "type": "mqtt in",
        "z": "b05da65af15284d8",
        "name": "",
        "topic": "rfid/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "894951dafb5e412e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 660,
        "y": 380,
        "wires": [
            [
                "4c8c1a9fce4755eb",
                "bb99a6e5964eb375"
            ]
        ]
    },
    {
        "id": "bb99a6e5964eb375",
        "type": "postgresql",
        "z": "b05da65af15284d8",
        "name": "",
        "query": "SELECT actualizar_estado_dispositivo('{{msg.payload}}'); -- Ejemplo de llamada con un ID específico\n",
        "postgreSQLConfig": "9277f660ec41eacb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1090,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4c8c1a9fce4755eb",
        "type": "debug",
        "z": "b05da65af15284d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 440,
        "wires": []
    },
    {
        "id": "8723078109fae709",
        "type": "mqtt in",
        "z": "b05da65af15284d8",
        "name": "",
        "topic": "motor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "894951dafb5e412e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 160,
        "wires": [
            [
                "99ed90b4ba8fa60c",
                "5e0c5e078db6ba29"
            ]
        ]
    },
    {
        "id": "99ed90b4ba8fa60c",
        "type": "postgresql",
        "z": "b05da65af15284d8",
        "name": "",
        "query": "INSERT INTO discoGira (estado) VALUES ('Motor activado');\n",
        "postgreSQLConfig": "49c448cf338bd2d2",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1230,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5e0c5e078db6ba29",
        "type": "debug",
        "z": "b05da65af15284d8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd5b04b5e309906c",
        "type": "mqtt in",
        "z": "b05da65af15284d8",
        "name": "",
        "topic": "alarma",
        "qos": "2",
        "datatype": "auto",
        "broker": "894951dafb5e412e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 580,
        "wires": [
            [
                "cc860f9152adb883",
                "a5a9cc0e1ddc139b"
            ]
        ]
    },
    {
        "id": "a5a9cc0e1ddc139b",
        "type": "postgresql",
        "z": "b05da65af15284d8",
        "name": "",
        "query": " VALUES ('{{msg.payload}}')\nINSERT INTO alarmas (activada)",
        "postgreSQLConfig": "9277f660ec41eacb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1210,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "cc860f9152adb883",
        "type": "debug",
        "z": "b05da65af15284d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "b43cb77a.8ffbd8",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "49c448cf338bd2d2",
        "type": "postgreSQLConfig",
        "name": "aiot_connection",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "123456",
        "passwordFieldType": "str"
    },
    {
        "id": "ac13dcd4.72f2b8",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "192.168.43.27",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "194a4281.7f5bfa",
        "type": "ui_group",
        "name": "Control Servo",
        "tab": "eb77e17a.c0f398",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef817f20898a98ee",
        "type": "ui_group",
        "name": "Control Pïr",
        "tab": "eb77e17a.c0f398",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b896b3f4.d8b9d",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "192.168.43.27",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "894951dafb5e412e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.43.27",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9277f660ec41eacb",
        "type": "postgreSQLConfig",
        "name": "equipo5",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "123456",
        "passwordFieldType": "str"
    },
    {
        "id": "eb77e17a.c0f398",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]